html,
body {
  min-height: 100%;
}
body {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#583752),
    to(#323441)
  );
  background-image: linear-gradient(#583752, #323441);
  background-repeat: no-repeat;
  background-size: 100%;
}
@media only screen and (max-width: 768px) {
  body {
    background-size: 200%;
  }
}
